/* Colors */

/* Breakpoints */
$xl: 1299px;
$l: 999px;
$m: 767px;
$s: 360px;

/* Fonts */
$fontOpenSans: 'Open Sans', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontRajdhani: 'Rajdhani', sans-serif;
